body {
  background: #030A1E;
}

.header {
  background: #030A1E;
}

.header__top {
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-block;
}

.logo__title {
  color: #8FBDEF;
}

.logo__tagline {
  color: #8FBDEF;
}

.header__right {
  background: #688eff;
  border: 5px solid #688eff;
  border-radius: 16px;
  display: inline-block;
  height: fit-content;
  width: fit-content;
  align-self: center;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header__right {
    display: none;
    border: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }
}

.header__right:hover {
  color: #030A1E;
}

.header__right-text {
  display: flex;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

.header__right-link {
  display: flex;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

.header__right-link:hover {
  color: #030A1E;
}

.btn {
  background: #030A1E;
  border-radius: 16px;
  color: #ffffff;
}

.post__title a {
  color: #030A1E;
}

.post__title a:hover {
  background: #ffffff;
  color: #688eff;
}

.pagination__item--prev,
.pagination__item--next {
  border-radius: 0;
  color: #ffffff;
}
